body {
    height: 100%;
    overflow: visible;
}

.divider{
    height: 100%;
    display: flex;

}

.food{
    flex: 1;
    position: relative;

}

.restaurants {
    flex: 1;
    position: relative;
}

#input {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

button {
    margin-top: 10%;
}

.menu-item {
    margin-top: 10%;
    color: white;
    background-color: black;
    padding: 10px;
    display: none;
    cursor: pointer
}

.card-body {
    margin: auto;
}

