@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");


:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in; 
}

/* Smooth scroll effect */
html {
    scroll-behavior: smooth;
  }

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
  }
  
   body {
    font-family: "Roboto", sans-serf;
  }
  
  ul li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
  } 

/* Header */
nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position:sticky;
    top:0;
    left:0;
    z-index: 2;
}

.hamburger {
    display: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-weight: var(--bold-font);
}

/* Bio */
.bio {
    align-items: center;
    gap: 1.9rem;
    max-width: 1100px;
    margin: 2rem auto -6rem;
}

.gif{
    display:block;
    flex: 1;
    position: relative;
}

.intro-text {
  position: relative;
   flex: 1;
   margin:auto;
}

.intro-text h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.intro-text p {

    line-height: var(--line-height);
}

.divider{
  display: flex;
}

.food-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
}

.info { /*this is the selection options */
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  display: none;
  
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  row-gap: 20px;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 64%;
  opacity: 0;
  transform: translateX(28%);
  transition: 0.5s ease;
  background-color: rgb(0, 0, 0, 0.5);
  cursor: pointer
}

.info:hover .overlay {
  opacity: 1;
}

.food-img {
  object-fit: cover;
      border: 3px solid #333333;
}

.menu-img {
  height: 100%;
  width: 64%;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  box-shadow: 0 10px 10px rgba(5, 5, 5, 0.5);
}

.menu-item {
color: white;
font-size: 13px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.card-body {
  margin: auto;
}

.card {
  border: 3px solid #333333 !important;
  margin: 1.5%
}
/* .search {
    background: var(--primary-color);
    color: #fff;
} */

/* About */
.about {
  position: relative;

  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem 0;
}

.about h3 {
  font-size: 2rem;
  margin-bottom: -1px;
  text-align: center;
}

.about p {
  font-size: 1.3em;
  text-align: center;
}

/* .border {
  border: 3px solid rgb(6, 6, 17);
  border-radius: 10px;
} */
