body {
    height: 50%;
    overflow: visible;
}

.divider{
    height: 100%;
    display: flex;

}

.food{
    flex: 1;
    position: relative;

}

.restaurants {
    flex: 5;
    position: relative;
}

#input {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(20, 2, 2);
    border-radius: 4px;
    background-color: #f7f6f5;
    resize: none;
}

button {
    margin-top: 10%;
}

.menu-item {
    margin-top: 10%;
    color: white;
    background-color: black;
    padding: 10px;
    display: none;
    cursor: pointer
}

.card-body {
    margin: auto;
}

